<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xiayiye5.xiayiye5library">

    <application
        android:name=".XiaYiYeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiaYiYe5Library">
        <activity android:name=".activity.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclerViewPage" />
        <activity android:name=".activity.ScrollerTextActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.NormalActivity" />
        <activity android:name=".activity.WithParamActivity" />
        <activity android:name=".activity.WithObjectActivity" />
        <activity android:name=".activity.WithSerActivity" />
        <activity android:name=".activity.SystemVoiceActivity" />
    </application>

</manifest>